*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-size: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
// div, section, aside, header, footer, article, nav, figure , figcaption, ul, li{
//     display: flex;
//     flex-wrap: wrap;
// }
img{
    object-fit: cover;
}

img{
    object-fit: cover;
}